build/
out/
target/
release/
!.mvn/wrapper/maven-wrapper.jar
*.versionsBackup

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

build/

### VS Code ###
.vscode/
/.metadata/

