<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.hust.dao.dao.DishSetMapper">

    <resultMap id="DishSetResultMap" type="edu.hust.dao.dto.DishSet">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="mon" property="mon" jdbcType="VARCHAR"/>
        <result column="tue" property="tue" jdbcType="VARCHAR"/>
        <result column="wed" property="wed" jdbcType="VARCHAR"/>
        <result column="thu" property="thu" jdbcType="VARCHAR"/>
        <result column="fri" property="fri" jdbcType="VARCHAR"/>
        <result column="sat" property="sat" jdbcType="VARCHAR"/>
        <result column="sun" property="sun" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectList" resultMap="DishSetResultMap">
        select * from dish_set
    </select>

    <select id="selectById" resultMap="DishSetResultMap">
        select * from dish_set where id = #{id, jdbcType=VARCHAR}
    </select>

    <select id="selectByName" resultMap="DishSetResultMap">
        select * from dish_set where name = #{name, jdbcType=VARCHAR}
    </select>

    <insert id="add" parameterType="edu.hust.dao.dto.DishSet">
        insert into dish_set (id, name, mon, tue, wed, thu, fri, sat, sun, remark)
        values
        (
        #{dish_set.id, jdbcType=VARCHAR},
        #{dish_set.name, jdbcType=VARCHAR},
        #{dish_set.mon, jdbcType=VARCHAR},
        #{dish_set.tue, jdbcType=VARCHAR},
        #{dish_set.wed, jdbcType=VARCHAR},
        #{dish_set.thu, jdbcType=VARCHAR},
        #{dish_set.fri, jdbcType=VARCHAR},
        #{dish_set.sat, jdbcType=VARCHAR},
        #{dish_set.sun, jdbcType=VARCHAR},
        #{dish_set.remark, jdbcType=VARCHAR}
        )
    </insert>

    <insert id="addBatch" parameterType="edu.hust.dao.dto.DishSet">
        insert into dish_set (id, name, mon, tue, wed, thu, fri, sat, sun, remark)
        values
        <foreach collection="dish_set_list" item="dish_set" index="index" separator=",">
        (
        #{dish_set.id, jdbcType=VARCHAR},
        #{dish_set.name, jdbcType=VARCHAR},
        #{dish_set.mon, jdbcType=VARCHAR},
        #{dish_set.tue, jdbcType=VARCHAR},
        #{dish_set.wed, jdbcType=VARCHAR},
        #{dish_set.thu, jdbcType=VARCHAR},
        #{dish_set.fri, jdbcType=VARCHAR},
        #{dish_set.sat, jdbcType=VARCHAR},
        #{dish_set.sun, jdbcType=VARCHAR},
        #{dish_set.remark, jdbcType=VARCHAR}
        )
        </foreach>
    </insert>

    <update id="update" parameterType="edu.hust.dao.dto.DishSet">
        update dish_set
        <trim prefix="set" suffixOverrides=",">
            <if test="dish_set.name != null">name = #{dish_set.name, jdbcType=VARCHAR},</if>
            <if test="dish_set.mon != null">mon = #{dish_set.mon, jdbcType=VARCHAR},</if>
            <if test="dish_set.tue != null">tue = #{dish_set.tue, jdbcType=VARCHAR},</if>
            <if test="dish_set.wed != null">wed = #{dish_set.wed, jdbcType=VARCHAR},</if>
            <if test="dish_set.thu != null">thu = #{dish_set.thu, jdbcType=VARCHAR},</if>
            <if test="dish_set.fri != null">fri = #{dish_set.fri, jdbcType=VARCHAR},</if>
            <if test="dish_set.sat != null">sat = #{dish_set.sat, jdbcType=VARCHAR},</if>
            <if test="dish_set.sun != null">sun = #{dish_set.sun, jdbcType=VARCHAR},</if>
            <if test="dish_set.remark != null">remark = #{dish_set.remark, jdbcType=VARCHAR},</if>
        </trim>
        where
        id = #{dish_set.id, jdbcType=VARCHAR}
    </update>

    <delete id="deleteById" parameterType="String">
        delete from dish_set where id = #{id, jdbcType=VARCHAR}
    </delete>

    <delete id="deleteAll">
        delete from dish_set
    </delete>

</mapper>